<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTwitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyTwitterOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E146B6B41D8B3C1100B1878D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E146B6D01D8B3C1200B1878D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E146B6DB1D8B3C1200B1878D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D527AB1DAFE043005C11E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D527C01DAFE043005C11E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D527CB1DAFE044005C11E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D527E21DB016CE005C11E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D527F71DB016CE005C11E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D528021DB016CE005C11E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
